html {
  scroll-behavior: smooth;
}

#home {
    background-image: url('assets/Background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* 100% of the screen height */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black; 
    position: relative;
  }

  header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent; 
    /*padding: 20px 50px;*/
  }

  .navbar{
    width: 100%;
  }
  .nav-container {
    max-width: 1200px; /* keeps it nice and centered */
    margin: 0 auto;
    display: flex;
    padding: 20px 100px 0px 1px;
    justify-content: space-between;
  }

  .nav-social-container {
    display: flex;
    align-items: center;
    gap: 30px; /* Adds space between nav links and social icons */
}


  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  .nav-links a {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: black;
    font-family: 'Italiana', serif; 
    font-size: 18px;
    transition: all 0.3s ease;
  }

  .nav-links a:hover::after{
    width: 100%;

  }
  .nav-links a:hover{
    transform: scale(1.1);
  }

  .logo{
    font-family: 'Italiana', serif; 
    font-size: 25px;
    padding-left: 1px;

  }

  .social-icon img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
  }

  .social-icon img[alt="instagram"]{
    width: 39px;
    height: 35px;
   
  }
  .social-links{
    display:flex;
    gap: 15px;
  }

  /* Make the icons scale on hover */
.social-icon:hover img {
    width: 34px;  /* Slightly enlarge on hover */
    height: 34px;
}
.social-icon:hover img[alt="instagram"] {
    width: 43px;  /* Slightly enlarge on hover */
    height: 39px;
}


.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1200px; /* Limit width */
    padding: 0 20px; 
}


.top-container h2, .top-container h1, .top-container p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding if any */
}

.top-container h1 {
    font-family: 'Italiana', serif;
    font-size: 90px;
    color: #F4A261;
    margin-bottom: 20px; /* Adjust margin for desired spacing */
    word-break: normal;      /* <— prevents breaking mid-word */

}

.top-container p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px; /* Adjust margin for desired spacing */
}

.bottom-container h3{
    font-size: 80px;
    font-weight: 10;
    display: incline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.wave-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px); /* Start slightly below */
    animation: wave 1s forwards; /* Apply the wave animation */
}

@keyframes wave {
    0% {
        opacity: 0;
        transform: translateY(10px); /* Initial position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Final position */
    }
}

.wave-text span {
    animation-delay: calc(0.1s * var(--i)); /* Create delay for each letter */
}





.get-to-know {
    font-size: 20px ;
    text-align: center;
}


/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
    .top-container h1 {
        font-size: 60px; /* Reduce the font size on smaller screens */
    }

    .bottom-container h3 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}


/* Style for the scroll-down icon container */
.scroll-down-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust if needed for spacing */
}
/* Style for the scroll-down icon */
.scroll-down-icon {
   
    animation: bounce 1.5s ease-in-out infinite; /* Animation for the bouncing effect */
}

/* Keyframes for the bounce animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px); /* Move it down */
    }
    100% {
        transform: translateY(0); /* Return to original position */
    }
}


/* About Section */

#about{
    scroll-margin-top: 120px;
    background-image: url('assets/aboutBack.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding:10px;


}

#about .about-container{
    text-align: left;
    margin: 0 auto;
}

#about .top-container{
    text-align: left;
}


/* Who is She  */
#about h1{
    color: black;
    text-align: left ;
    margin: 0 auto;
    padding: 0;
    margin-left: 20px;

    max-width: 800px;
    

}

#about .highlight{
    color: #FAF3E0;
}

/* Education */
#about h2{
    color: #FAF3E0;
    text-align: left;
    margin-left: 20px;
    font-size: 40px;
    margin-top: 10px;
    padding: 0;

}

/* school listing*/
#about ul li{
    font-family: 'Josefin Sans', sans-serif;
    color: #FAF3E0;
    font-size: 20px;
    margin-bottom: 6%;
}

#about .bottom-container{
    margin-top: -50px;

}

/* About Description*/
#about p{
    text-align: left;
    line-height: 1.6;
}
#about .text-box {
    max-width: 500px; /* Controls the width of the text box */
    margin: 0 auto;   /* Centers the text box horizontally */
    margin-left: 20px;
    text-align: left; /* Keeps text aligned to the left */
    padding: 0px;
}

/*Project Section */

#projects{
    background-image: url('assets/PBack.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding:10px;
}

#projects h1{

    font-family: 'Italiana', serif; 
    font-weight: 0px;
    color: black;
    text-align: left ;
    margin: 0 auto;
    padding: 0;
    margin-left: 20px;
    

}

#projects p{
  font-family: 'Josefin Sans', sans-serif;
}



.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  width: 250px;
  height: auto;
  border-radius: 16px;
  transition: transform 0.4s ease;
  cursor: pointer;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.card-title{
  margin-top: 0.5rem;
  font-size: 25px;
  font-weight: 600;
  

}

/*defualt tilt*/
.card:nth-child(1) {
  transform: rotate(-5deg);
}

.card:nth-child(2) {
  transform: rotate(0deg);
}

.card:nth-child(3) {
  transform: rotate(5deg);
}

/*hover efect*/
.card:hover {
  transform: scale(1.05) rotate(0deg);
  z-index:1;
}

/*On click card comes to the front*/
.card.focused {
  transform: rotate(0deg) scale(1.1);
  z-index: 10;
}



/*Works Section */

#works{
    background-image: url('assets/creamBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding:10px;
}


/*header*/
/* Cursor */
.cursor {
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  /* Animation */
  .typewriter-animation {
    animation: typewriter 5s steps(50) 1s 1 normal both,
      blinkingCursor 500ms steps(50) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blinkingCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }




/*Bubble animation*/

html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.main {
  overflow: hidden;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  opacity: 0.17;
  left: 57vw;
  top: 97vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(0.61);
  -ms-transform: translate(0, 0) scale(0.61);
  -webkit-transform: translate(0, 0) scale(0.61);
  transform: translate(0, 0) scale(0.61);
}
.bubble-2 {
  opacity: 0.72;
  left: 85vw;
  top: 91vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(0.92);
  -ms-transform: translate(0, 0) scale(0.92);
  -webkit-transform: translate(0, 0) scale(0.92);
  transform: translate(0, 0) scale(0.92);
}
.bubble-3 {
  opacity: 0.67;
  left: 97vw;
  top: 12vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(0.29);
  -ms-transform: translate(0, 0) scale(0.29);
  -webkit-transform: translate(0, 0) scale(0.29);
  transform: translate(0, 0) scale(0.29);
}
.bubble-4 {
  opacity: 0.06;
  left: 81vw;
  top: 50vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(0.97);
  -ms-transform: translate(0, 0) scale(0.97);
  -webkit-transform: translate(0, 0) scale(0.97);
  transform: translate(0, 0) scale(0.97);
}
.bubble-5 {
  opacity: 0.35;
  left: 21vw;
  top: 5vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(0.15);
  -ms-transform: translate(0, 0) scale(0.15);
  -webkit-transform: translate(0, 0) scale(0.15);
  transform: translate(0, 0) scale(0.15);
}
.bubble-6 {
  opacity: 1;
  left: 49vw;
  top: 59vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(1.15);
  -ms-transform: translate(0, 0) scale(1.15);
  -webkit-transform: translate(0, 0) scale(1.15);
  transform: translate(0, 0) scale(1.15);
}
.bubble-7 {
  opacity: 0.6;
  left: 37vw;
  top: 42vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(0.17);
  -ms-transform: translate(0, 0) scale(0.17);
  -webkit-transform: translate(0, 0) scale(0.17);
  transform: translate(0, 0) scale(0.17);
}
.bubble-8 {
  opacity: 0.75;
  left: 85vw;
  top: 73vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(0.25);
  -ms-transform: translate(0, 0) scale(0.25);
  -webkit-transform: translate(0, 0) scale(0.25);
  transform: translate(0, 0) scale(0.25);
}
.bubble-9 {
  opacity: 0.63;
  left: 84vw;
  top: 78vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(1.92);
  -ms-transform: translate(0, 0) scale(1.92);
  -webkit-transform: translate(0, 0) scale(1.92);
  transform: translate(0, 0) scale(1.92);
}
.bubble-10 {
  opacity: 0.73;
  left: 91vw;
  top: 44vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(1.72);
  -ms-transform: translate(0, 0) scale(1.72);
  -webkit-transform: translate(0, 0) scale(1.72);
  transform: translate(0, 0) scale(1.72);
}
.bubble-11 {
  opacity: 0.52;
  left: 71vw;
  top: 28vh;
  animation: move-11 30.22s infinite;
  -moz-transform: translate(0, 0) scale(0.75);
  -ms-transform: translate(0, 0) scale(0.75);
  -webkit-transform: translate(0, 0) scale(0.75);
  transform: translate(0, 0) scale(0.75);
}
.bubble-12 {
  opacity: 0.72;
  left: 9vw;
  top: 91vh;
  animation: move-12 30.24s infinite;
  -moz-transform: translate(0, 0) scale(0.36);
  -ms-transform: translate(0, 0) scale(0.36);
  -webkit-transform: translate(0, 0) scale(0.36);
  transform: translate(0, 0) scale(0.36);
}
.bubble-13 {
  opacity: 0.68;
  left: 12vw;
  top: 28vh;
  animation: move-13 30.26s infinite;
  -moz-transform: translate(0, 0) scale(0.86);
  -ms-transform: translate(0, 0) scale(0.86);
  -webkit-transform: translate(0, 0) scale(0.86);
  transform: translate(0, 0) scale(0.86);
}
.bubble-14 {
  opacity: 0.79;
  left: 32vw;
  top: 83vh;
  animation: move-14 30.28s infinite;
  -moz-transform: translate(0, 0) scale(0.72);
  -ms-transform: translate(0, 0) scale(0.72);
  -webkit-transform: translate(0, 0) scale(0.72);
  transform: translate(0, 0) scale(0.72);
}
.bubble-15 {
  opacity: 0.42;
  left: 42vw;
  top: 28vh;
  animation: move-15 30.3s infinite;
  -moz-transform: translate(0, 0) scale(0.95);
  -ms-transform: translate(0, 0) scale(0.95);
  -webkit-transform: translate(0, 0) scale(0.95);
  transform: translate(0, 0) scale(0.95);
}
.bubble-16 {
  opacity: 0.83;
  left: 81vw;
  top: 33vh;
  animation: move-16 30.32s infinite;
  -moz-transform: translate(0, 0) scale(0.69);
  -ms-transform: translate(0, 0) scale(0.69);
  -webkit-transform: translate(0, 0) scale(0.69);
  transform: translate(0, 0) scale(0.69);
}
.bubble-17 {
  opacity: 0.35;
  left: 85vw;
  top: 74vh;
  animation: move-17 30.34s infinite;
  -moz-transform: translate(0, 0) scale(0.81);
  -ms-transform: translate(0, 0) scale(0.81);
  -webkit-transform: translate(0, 0) scale(0.81);
  transform: translate(0, 0) scale(0.81);
}
.bubble-18 {
  opacity: 0.26;
  left: 19vw;
  top: 31vh;
  animation: move-18 30.36s infinite;
  -moz-transform: translate(0, 0) scale(0.39);
  -ms-transform: translate(0, 0) scale(0.39);
  -webkit-transform: translate(0, 0) scale(0.39);
  transform: translate(0, 0) scale(0.39);
}
.bubble-19 {
  opacity: 0.46;
  left: 78vw;
  top: 32vh;
  animation: move-19 30.38s infinite;
  -moz-transform: translate(0, 0) scale(0.39);
  -ms-transform: translate(0, 0) scale(0.39);
  -webkit-transform: translate(0, 0) scale(0.39);
  transform: translate(0, 0) scale(0.39);
}
.bubble-20 {
  opacity: 0.05;
  left: 44vw;
  top: 75vh;
  animation: move-20 30.4s infinite;
  -moz-transform: translate(0, 0) scale(1.3);
  -ms-transform: translate(0, 0) scale(1.3);
  -webkit-transform: translate(0, 0) scale(1.3);
  transform: translate(0, 0) scale(1.3);
}
.bubble-21 {
  opacity: 0.18;
  left: 95vw;
  top: 66vh;
  animation: move-21 30.42s infinite;
  -moz-transform: translate(0, 0) scale(0.54);
  -ms-transform: translate(0, 0) scale(0.54);
  -webkit-transform: translate(0, 0) scale(0.54);
  transform: translate(0, 0) scale(0.54);
}
.bubble-22 {
  opacity: 0.24;
  left: 21vw;
  top: 31vh;
  animation: move-22 30.44s infinite;
  -moz-transform: translate(0, 0) scale(0.85);
  -ms-transform: translate(0, 0) scale(0.85);
  -webkit-transform: translate(0, 0) scale(0.85);
  transform: translate(0, 0) scale(0.85);
}
.bubble-23 {
  opacity: 0.06;
  left: 71vw;
  top: 27vh;
  animation: move-23 30.46s infinite;
  -moz-transform: translate(0, 0) scale(0.11);
  -ms-transform: translate(0, 0) scale(0.11);
  -webkit-transform: translate(0, 0) scale(0.11);
  transform: translate(0, 0) scale(0.11);
}
.bubble-24 {
  opacity: 0.08;
  left: 74vw;
  top: 52vh;
  animation: move-24 30.48s infinite;
  -moz-transform: translate(0, 0) scale(0.99);
  -ms-transform: translate(0, 0) scale(0.99);
  -webkit-transform: translate(0, 0) scale(0.99);
  transform: translate(0, 0) scale(0.99);
}
.bubble-25 {
  opacity: 0.42;
  left: 62vw;
  top: 83vh;
  animation: move-25 30.5s infinite;
  -moz-transform: translate(0, 0) scale(1.83);
  -ms-transform: translate(0, 0) scale(1.83);
  -webkit-transform: translate(0, 0) scale(1.83);
  transform: translate(0, 0) scale(1.83);
}
.bubble-26 {
  opacity: 0.12;
  left: 91vw;
  top: 81vh;
  animation: move-26 30.52s infinite;
  -moz-transform: translate(0, 0) scale(1.66);
  -ms-transform: translate(0, 0) scale(1.66);
  -webkit-transform: translate(0, 0) scale(1.66);
  transform: translate(0, 0) scale(1.66);
}
.bubble-27 {
  opacity: 0.97;
  left: 39vw;
  top: 37vh;
  animation: move-27 30.54s infinite;
  -moz-transform: translate(0, 0) scale(0.98);
  -ms-transform: translate(0, 0) scale(0.98);
  -webkit-transform: translate(0, 0) scale(0.98);
  transform: translate(0, 0) scale(0.98);
}
.bubble-28 {
  opacity: 0.46;
  left: 16vw;
  top: 70vh;
  animation: move-28 30.56s infinite;
  -moz-transform: translate(0, 0) scale(1.69);
  -ms-transform: translate(0, 0) scale(1.69);
  -webkit-transform: translate(0, 0) scale(1.69);
  transform: translate(0, 0) scale(1.69);
}
.bubble-29 {
  opacity: 0.41;
  left: 93vw;
  top: 88vh;
  animation: move-29 30.58s infinite;
  -moz-transform: translate(0, 0) scale(1.61);
  -ms-transform: translate(0, 0) scale(1.61);
  -webkit-transform: translate(0, 0) scale(1.61);
  transform: translate(0, 0) scale(1.61);
}
.bubble-30 {
  opacity: 0.02;
  left: 85vw;
  top: 39vh;
  animation: move-30 30.6s infinite;
  -moz-transform: translate(0, 0) scale(1.45);
  -ms-transform: translate(0, 0) scale(1.45);
  -webkit-transform: translate(0, 0) scale(1.45);
  transform: translate(0, 0) scale(1.45);
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 111;
}
.credits a {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

@keyframes move-1 {
  40% {
    -moz-transform: translate(-36vw, -98vh);
    -webkit-transform: translate(-36vw, -98vh);
    transform: translate(-36vw, -98vh);
  }
}
@keyframes move-2 {
  54% {
    -moz-transform: translate(-56vw, -94vh);
    -webkit-transform: translate(-56vw, -94vh);
    transform: translate(-56vw, -94vh);
  }
}
@keyframes move-3 {
  49% {
    -moz-transform: translate(-46vw, -90vh);
    -webkit-transform: translate(-46vw, -90vh);
    transform: translate(-46vw, -90vh);
  }
}
@keyframes move-4 {
  59% {
    -moz-transform: translate(-70vw, -62vh);
    -webkit-transform: translate(-70vw, -62vh);
    transform: translate(-70vw, -62vh);
  }
}
@keyframes move-5 {
  55% {
    -moz-transform: translate(-42vw, -12vh);
    -webkit-transform: translate(-42vw, -12vh);
    transform: translate(-42vw, -12vh);
  }
}
@keyframes move-6 {
  49% {
    -moz-transform: translate(-35vw, -48vh);
    -webkit-transform: translate(-35vw, -48vh);
    transform: translate(-35vw, -48vh);
  }
}
@keyframes move-7 {
  39% {
    -moz-transform: translate(-67vw, -21vh);
    -webkit-transform: translate(-67vw, -21vh);
    transform: translate(-67vw, -21vh);
  }
}
@keyframes move-8 {
  48% {
    -moz-transform: translate(-33vw, -75vh);
    -webkit-transform: translate(-33vw, -75vh);
    transform: translate(-33vw, -75vh);
  }
}
@keyframes move-9 {
  56% {
    -moz-transform: translate(-52vw, -87vh);
    -webkit-transform: translate(-52vw, -87vh);
    transform: translate(-52vw, -87vh);
  }
}
@keyframes move-10 {
  33% {
    -moz-transform: translate(-87vw, -17vh);
    -webkit-transform: translate(-87vw, -17vh);
    transform: translate(-87vw, -17vh);
  }
}
@keyframes move-11 {
  60% {
    -moz-transform: translate(-92vw, -55vh);
    -webkit-transform: translate(-92vw, -55vh);
    transform: translate(-92vw, -55vh);
  }
}
@keyframes move-12 {
  60% {
    -moz-transform: translate(-49vw, -36vh);
    -webkit-transform: translate(-49vw, -36vh);
    transform: translate(-49vw, -36vh);
  }
}
@keyframes move-13 {
  59% {
    -moz-transform: translate(-3vw, 0vh);
    -webkit-transform: translate(-3vw, 0vh);
    transform: translate(-3vw, 0vh);
  }
}
@keyframes move-14 {
  46% {
    -moz-transform: translate(-51vw, -40vh);
    -webkit-transform: translate(-51vw, -40vh);
    transform: translate(-51vw, -40vh);
  }
}
@keyframes move-15 {
  50% {
    -moz-transform: translate(-17vw, -96vh);
    -webkit-transform: translate(-17vw, -96vh);
    transform: translate(-17vw, -96vh);
  }
}
@keyframes move-16 {
  43% {
    -moz-transform: translate(-55vw, -7vh);
    -webkit-transform: translate(-55vw, -7vh);
    transform: translate(-55vw, -7vh);
  }
}
@keyframes move-17 {
  42% {
    -moz-transform: translate(-73vw, -10vh);
    -webkit-transform: translate(-73vw, -10vh);
    transform: translate(-73vw, -10vh);
  }
}
@keyframes move-18 {
  52% {
    -moz-transform: translate(-91vw, -9vh);
    -webkit-transform: translate(-91vw, -9vh);
    transform: translate(-91vw, -9vh);
  }
}
@keyframes move-19 {
  31% {
    -moz-transform: translate(-31vw, -76vh);
    -webkit-transform: translate(-31vw, -76vh);
    transform: translate(-31vw, -76vh);
  }
}
@keyframes move-20 {
  50% {
    -moz-transform: translate(-13vw, -86vh);
    -webkit-transform: translate(-13vw, -86vh);
    transform: translate(-13vw, -86vh);
  }
}
@keyframes move-21 {
  35% {
    -moz-transform: translate(-56vw, -2vh);
    -webkit-transform: translate(-56vw, -2vh);
    transform: translate(-56vw, -2vh);
  }
}
@keyframes move-22 {
  31% {
    -moz-transform: translate(-43vw, -76vh);
    -webkit-transform: translate(-43vw, -76vh);
    transform: translate(-43vw, -76vh);
  }
}
@keyframes move-23 {
  48% {
    -moz-transform: translate(-80vw, -28vh);
    -webkit-transform: translate(-80vw, -28vh);
    transform: translate(-80vw, -28vh);
  }
}
@keyframes move-24 {
  56% {
    -moz-transform: translate(-36vw, -50vh);
    -webkit-transform: translate(-36vw, -50vh);
    transform: translate(-36vw, -50vh);
  }
}
@keyframes move-25 {
  33% {
    -moz-transform: translate(-33vw, -22vh);
    -webkit-transform: translate(-33vw, -22vh);
    transform: translate(-33vw, -22vh);
  }
}
@keyframes move-26 {
  48% {
    -moz-transform: translate(-26vw, -96vh);
    -webkit-transform: translate(-26vw, -96vh);
    transform: translate(-26vw, -96vh);
  }
}
@keyframes move-27 {
  51% {
    -moz-transform: translate(-62vw, -46vh);
    -webkit-transform: translate(-62vw, -46vh);
    transform: translate(-62vw, -46vh);
  }
}
@keyframes move-28 {
  43% {
    -moz-transform: translate(-79vw, -74vh);
    -webkit-transform: translate(-79vw, -74vh);
    transform: translate(-79vw, -74vh);
  }
}
@keyframes move-29 {
  35% {
    -moz-transform: translate(-80vw, -9vh);
    -webkit-transform: translate(-80vw, -9vh);
    transform: translate(-80vw, -9vh);
  }
}
@keyframes move-30 {
  46% {
    -moz-transform: translate(-62vw, -65vh);
    -webkit-transform: translate(-62vw, -65vh);
    transform: translate(-62vw, -65vh);
  }
}


